old_data
.env
www/debug.log
www/app/
www/admin/
www/locks/
frontend/dist/
frontend/dist-admin/
frontend/node_modules/
**/Thumbs.db
**/desktop.ini
deploy.sh
deploy/.tmp/
deploy/*.tar
deploy/db/
deploy/docker/
deploy/.env.sync
deploy/.tmp-*
scripts/
