#edit-title {
    text-align: center;
    font-family: Verdana;
    font-size: 18px;
    font-weight: bold;
}

#edit-images {
    float: left;
    width: 400px;
}

#slideshow {
    text-align: center;
}

#edit-images a {
    color: #FFF;
}

#slideshow {
    width: 300px;
    height: 300px;
}

#edit-text {
    text-align: left;
    font-family: Verdana;
    font-size: 12px;
    font-weight: normal;
}

#thumbs ul li {
    float: left;
    border: 0;
    list-style: none;
    margin: 0;
    outline: 0;
    padding: 0;
    text-align: left;
    vertical-align: baseline;
    width: 60px;
}

#edit-start-date {
    display: block;
}

#edit-main-time {
    display: block;
}

.countdownHolder {
    font-size: 32px;
    width: 820px;
    text-align: left;
}

#win_green {
    font-family: Verdana;
    font-size: 12px;
    color: #0C0;
}

#win_red {
    font-family: Verdana;
    font-size: 12px;
    color: #C00;
}

.form-button-disabled {
    color: #CCC;
}

button, input[type="submit"][disabled] {
    color: #CCC;
}

#vk_clean {
  display: inline-block;
  margin-top: 5px;
}